<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding">
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Sbn.Products.SVN.SourceVersioningService.RepositoryService">
        <endpoint address="ws" behaviorConfiguration="wsHttpEndpointBehavior"
          binding="wsHttpBinding" bindingConfiguration="wsHttpBinding"
          name="wsHttpEndpoint" contract="Sbn.Products.SVN.SourceVersioningService.IRepositoryService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="wsHttpEndpointBehavior">
          <dataContractSerializer />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost/Sbn.Products.SVN.SourceVersioningService/RepositoryService.svc/basic"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>