<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--<add key="ConnectionString" value="Password=mtn#2408;Persist Security Info=True;User ID=mtnitcom;Initial Catalog=SVN;Data Source=5.9.251.213;Connect Timeout=20000 ; pooling='True' ; max pool size=20000"/>-->
    <add key="ConnectionString" value="Password=123!@#qwe;Persist Security Info=True;User ID=sa;Initial Catalog=SVN;Data Source=192.168.0.93;Connect Timeout=20000 ; pooling='True' ; max pool size=20000"/>
  </appSettings>
  <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" maxRequestLength="2000000"  executionTimeout="15" />
    </system.web>
</configuration>
