<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <!--<add key="ConnectionString" value="Password=ghdr#2007m;Persist Security Info=True;User ID=sa;Initial Catalog=SVN;Data Source=192.168.179.2;Connect Timeout=20000 ; pooling='True' ; max pool size=20000"/>-->
    <add key="ConnectionString" value="Password=mtn#2408;Persist Security Info=True;User ID=mtnitcom;Initial Catalog=SVN;Data Source=mtnit.com;Connect Timeout=20000 ; pooling='True' ; max pool size=20000"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="CusttomServiceBehavior" name="Sbn.Products.SVN.Service.RepositoryService">
        <endpoint behaviorConfiguration="CustomEndpointBehavior" binding="basicHttpBinding" bindingConfiguration="" name="basicHttpEndpoint" contract="Sbn.Products.SVN.Service.IRepositoryService"/>
        <endpoint address="ws" behaviorConfiguration="CustomEndpointBehavior" binding="wsHttpBinding" bindingConfiguration="wsHttpEndpointBinding" name="wsHttpEndpoint" contract="Sbn.Products.SVN.Service.IRepositoryService"/>
        <!--<endpoint binding="netTcpBinding" bindingConfiguration="netTcpBinding" name="netTcpEndPoint" contract="Sbn.Products.SVN.Service.RepositoryService"/>-->
        <host>
          <!--<baseAddresses>
            <add baseAddress="http://localhost/Sbn.Products.SVN.Service/RepositoryService.svc" />
          </baseAddresses>-->
          <timeouts closeTimeout="00:15:00" openTimeout="00:15:00"/>
        </host>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpEndpointBinding" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="1048576000" maxReceivedMessageSize="1048576000">
          <readerQuotas maxDepth="32" maxStringContentLength="1048576000" maxArrayLength="1048576000"/>
          <!--<security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"/>
            <message clientCredentialType="None" negotiateServiceCredential="false" algorithmSuite="Default" establishSecurityContext="false"/>
          </security>-->
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="basicHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="1048576000" maxReceivedMessageSize="1048576000">
          <readerQuotas maxDepth="32" maxStringContentLength="1048576000" maxArrayLength="1048576000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CustomEndpointBehavior">
          <dataContractSerializer/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="CusttomServiceBehavior">
          <useRequestHeadersForMetadataAddress/>
          <dataContractSerializer maxItemsInObjectGraph="1048576000"/>
          <!--<serviceMetadata httpGetEnabled="true" httpGetUrl="http://www.mtnit.com/svn/RepositoryService.svc/basic" httpsGetEnabled="false"/>-->
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost/Sbn.Products.SVN.Service/RepositoryService.svc/basic" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceSecurityAudit auditLogLocation="Application" suppressAuditFailure="true" serviceAuthorizationAuditLevel="Failure" messageAuthenticationAuditLevel="Failure"/>
          <!--<serviceCredentials>
            <serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Service.Web.CustomCredentialValidator,Service.Web"/>
          </serviceCredentials>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>